<%- include('header'); -%>
<h2 id="heading">This To Do List is created by Sugam Sharma</h2>
<p>It is part of the Web Dev Learning Path Projects</p>
<p>Thank You for Visiting my Website.</p>

<%- include('footer'); -%>